*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background: linear-gradient( rgb(86, 227, 227), rgb(234, 134, 134));
    color: #fff;
    max-height: 100vh;
}
.user{
    width: fit-content;
    margin: 70px auto;
    display: flex;
}
.user img{
    width: 225px;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    z-index: 100;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    transition: transform 3s, box-shadow 3s;
    filter: grayscale(0%);
}
.user img:hover{
    filter: grayscale(0%);
}
.info{
    text-align: center;
    padding: 10px 50px;
    transform: translateX(-50px);
    opacity: 1;
    transition: transform 2s, opacity 2s;
}
.info h1{
    text-align: center;
    font-size: 80px;
    font-weight: 500;
}
.info p{
    color: whitesmoke;
    font-size: 25px;
    margin-top: 2px;
    line-height: 26px;
    padding-left: 20px;
}
.info a{
    background-color: #4f40ff;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 12px 25px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 20px;
}
.info span{
    color: #4f40ff ;
    font-weight: 500;
}
.close-icon {
    color: crimson;
    font-size: 60px;
    cursor: pointer;
    padding-top: 150px;
    opacity: 1;
    transition: transform 3s, opacity 3s;
}
.hide-details .info{ 
    transform: translateX(50px);
    opacity: 0;
}
.hide-details .close-icon{
    transform: translateX(-400px);
    opacity: 0.3;
}
.hide-details img{
    transform: translateX(400px);
    filter: grayscale(450%);
    box-shadow: 0, 0, 0, rgba(0, 0, 0, 0.3) ;
}
@media (max-width: 500px){
    body{
        background: #fff;
        margin:  500px 10px;
        color: black;
    }
    .hide-details .close-icon{
        transform: translateX(-325px);
    }
    .hide-details img{
        transform: translateX(300px);
    }
    .info p{
        color: gray;
        font-size: 20px;
    }
    .info a{
        font-size: 30px;
        text-decoration: none;
        display: inline-block;
        padding: 20px 30px;
        border-radius: 30px;
        margin-top: 20px;
        margin-left: 20px;
    }
}
